In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import random
import string

In [38]:
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=5)
df = pd.DataFrame({'key1':["A", "B", "C", "D", "A", "B", "C", "D", "E"],
                    'key2': ["four", "five", "six", "seven", "four", "five", "six", "seven", "eight"],
                    'data1': np.random.randn(9),
                    'data2': np.round(np.random.normal(1,9,9))})
df

  key1   key2     data1  data2
0    A   four  0.223756   -6.0
1    B   five -0.844201   -3.0
2    C    six -1.071895  -11.0
3    D  seven  0.864701  -12.0
4    A   four  1.378076   -2.0
5    B   five  0.966071  -11.0
6    C    six -0.573072   -0.0
7    D  seven -0.683559   12.0
8    E  eight -1.081511    4.0

In [33]:
df.groupby(['key1', 'key2']).max()

               data1  data2
key1 key2
A    four   1.977997   -1.0
B    five   0.632020    3.0
C    six    1.482710    3.0
D    seven -0.716212  -14.0
E    eight -0.466410   -9.0

In [63]:
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=1)
print(rand_letters)
df = pd.DataFrame({'key1':["A", "B", "C", "D", "A", "B", "C", "D", "E"],
                    'key2': ["four", "five", "six", "seven", "four", "five", "six", "seven", "eight"],
                    'data1': np.random.randn(9),
                    'data2': np.round(np.random.normal(1,9,9))})
df


A = []
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=1)
i = 0
type(rand_letters)
for letter in rand_letters:
    i = i + 1
    rand_letters = random.choices(letters,k=1)
    if i > 7:
        break
    else:
        print(rand_letters)
        A.append(rand_letters[0])
        print(i)
        print("ArrayA " + str(A))

['o', 'z', 'a', 'p', 'o']
['v']
1
ArrayA ['v']
['z']
2
ArrayA ['v', 'z']
['n']
3
ArrayA ['v', 'z', 'n']
['g']
4
ArrayA ['v', 'z', 'n', 'g']
['x']
5
ArrayA ['v', 'z', 'n', 'g', 'x']

In [80]:
A = []
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=8)
random_letters2 = random.choices(letters,k=8)
print(rand_letters)
i = 0
for letter in rand_letters:
    i = i + 1
    A.append(rand_letters[i-1])
    print(i) #на видалення
    print("ArrayA " + str(A)) #на видалення
df = pd.DataFrame({"FirstName": A})
print(df) #на видалення

['p', 'h', 'w', 'k', 'm', 'v', 'v', 't']
1
ArrayA ['p']
2
ArrayA ['p', 'h']
3
ArrayA ['p', 'h', 'w']
4
ArrayA ['p', 'h', 'w', 'k']
5
ArrayA ['p', 'h', 'w', 'k', 'm']
6
ArrayA ['p', 'h', 'w', 'k', 'm', 'v']
7
ArrayA ['p', 'h', 'w', 'k', 'm', 'v', 'v']
8
ArrayA ['p', 'h', 'w', 'k', 'm', 'v', 'v', 't']
  FirstName
0         p
1         h
2         w
3         k
4         m
5         v
6         v
7         t