In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import random
import string

In [38]:
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=5)
df = pd.DataFrame({'key1':["A", "B", "C", "D", "A", "B", "C", "D", "E"],
                    'key2': ["four", "five", "six", "seven", "four", "five", "six", "seven", "eight"],
                    'data1': np.random.randn(9),
                    'data2': np.round(np.random.normal(1,9,9))})
df

  key1   key2     data1  data2
0    A   four  0.223756   -6.0
1    B   five -0.844201   -3.0
2    C    six -1.071895  -11.0
3    D  seven  0.864701  -12.0
4    A   four  1.378076   -2.0
5    B   five  0.966071  -11.0
6    C    six -0.573072   -0.0
7    D  seven -0.683559   12.0
8    E  eight -1.081511    4.0

In [33]:
df.groupby(['key1', 'key2']).max()

               data1  data2
key1 key2
A    four   1.977997   -1.0
B    five   0.632020    3.0
C    six    1.482710    3.0
D    seven -0.716212  -14.0
E    eight -0.466410   -9.0

In [63]:
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=1)
print(rand_letters)
df = pd.DataFrame({'key1':["A", "B", "C", "D", "A", "B", "C", "D", "E"],
                    'key2': ["four", "five", "six", "seven", "four", "five", "six", "seven", "eight"],
                    'data1': np.random.randn(9),
                    'data2': np.round(np.random.normal(1,9,9))})
df


A = []
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=1)
i = 0
type(rand_letters)
for letter in rand_letters:
    i = i + 1
    rand_letters = random.choices(letters,k=1)
    if i > 7:
        break
    else:
        print(rand_letters)
        A.append(rand_letters[0])
        print(i)
        print("ArrayA " + str(A))

['o', 'z', 'a', 'p', 'o']
['v']
1
ArrayA ['v']
['z']
2
ArrayA ['v', 'z']
['n']
3
ArrayA ['v', 'z', 'n']
['g']
4
ArrayA ['v', 'z', 'n', 'g']
['x']
5
ArrayA ['v', 'z', 'n', 'g', 'x']

In [92]:
A = []
B = []
Number = 50
letters = string.ascii_lowercase
rand_letters = random.choices(letters,k=Number)
rand_letters2 = random.choices(letters,k=Number)
i = 0
j = 0
for letter in rand_letters:
    i = i + 1
    A.append(rand_letters[i-1])
for letter in rand_letters2:
    j = j + 1
    B.append(rand_letters2[j-1])
df = pd.DataFrame({"FirstName": A, "SecondName": B, 'data1': np.random.randn(Number), 'data2': np.round(np.random.normal(1,Number,Number))})
df

   FirstName SecondName     data1  data2
0          k          u  1.296436   17.0
1          w          o  0.243679    9.0
2          n          y  0.608180  -88.0
3          c          v  0.778501   51.0
4          x          u -0.600812   25.0
5          i          f -0.083421  -29.0
6          d          f -0.706219   41.0
7          t          l -0.267078  -14.0
8          b          d  0.759254    9.0
9          y          i  0.181160   13.0
10         q          g -0.190194  -37.0
11         h          i  0.539906    4.0
12         o          w  0.901459  -42.0
13         a          w -0.967939  -48.0
14         u          o -0.415508  -78.0
15         f          o  1.868824   -4.0
16         d          u  0.154170  -55.0
17         g          h  0.139355  -23.0
18         b          v  1.132352    3.0
19         x          h  0.314233   51.0
20         a          o -0.123192   42.0
21         i          n  0.573812  -26.0
22         s          d -0.403027  -77.0
23         t          f  0.969944  -84.0
24         y          h  0.246708  -85.0
25         j          h -1.276184  -42.0
26         i          w -1.365019   53.0
27         u          d  0.338734  -58.0
28         i          z  0.184838  -83.0
29         e          t -1.263107  -45.0
30         v          i  0.101145  -41.0
31         f          m -1.179188   30.0
32         s          t  0.059413  -40.0
33         u          y  0.419088  -24.0
34         h          b -0.037438   28.0
35         g          x -0.289950   30.0
36         v          w  0.213849   84.0
37         v          b  0.623571   54.0
38         j          d -0.005888   -8.0
39         g          f -0.610235   44.0
40         t          e -0.095503  -12.0
41         h          s  1.024846   57.0
42         h          n  0.797360   50.0
43         w          b -1.391035   78.0
44         t          g -1.524911   21.0
45         t          v  0.254957    5.0
46         t          d -0.339704  -73.0
47         x          o  0.387178  102.0
48         b          p  2.214518   56.0
49         i          b -1.392003  -75.0

In [98]:
df.groupby(["FirstName", "SecondName"]).sum()

                         data1  data2
FirstName SecondName
a         o          -0.123192   42.0
          w          -0.967939  -48.0
b         d           0.759254    9.0
          p           2.214518   56.0
          v           1.132352    3.0
c         v           0.778501   51.0
d         f          -0.706219   41.0
          u           0.154170  -55.0
e         t          -1.263107  -45.0
f         m          -1.179188   30.0
          o           1.868824   -4.0
g         f          -0.610235   44.0
          h           0.139355  -23.0
          x          -0.289950   30.0
h         b          -0.037438   28.0
          i           0.539906    4.0
          n           0.797360   50.0
          s           1.024846   57.0
i         b          -1.392003  -75.0
          f          -0.083421  -29.0
          n           0.573812  -26.0
          w          -1.365019   53.0
          z           0.184838  -83.0
j         d          -0.005888   -8.0
          h          -1.276184  -42.0
k         u           1.296436   17.0
n         y           0.608180  -88.0
o         w           0.901459  -42.0
q         g          -0.190194  -37.0
s         d          -0.403027  -77.0
          t           0.059413  -40.0
t         d          -0.339704  -73.0
          e          -0.095503  -12.0
          f           0.969944  -84.0
          g          -1.524911   21.0
          l          -0.267078  -14.0
          v           0.254957    5.0
u         d           0.338734  -58.0
          o          -0.415508  -78.0
          y           0.419088  -24.0
v         b           0.623571   54.0
          i           0.101145  -41.0
          w           0.213849   84.0
w         b          -1.391035   78.0
          o           0.243679    9.0
x         h           0.314233   51.0
          o           0.387178  102.0
          u          -0.600812   25.0
y         h           0.246708  -85.0
          i           0.181160   13.0